
*.txt
/Java/Tutorial 2/swing/nbproject/private/
/Java/Tutorial 2/Coursework/nbproject/private/
/Java/Tutorial 2/Coursework/build/
/Java/Tutorial 3/Coursework/build/
/Java/Tutorial 3/Coursework/nbproject/private/
/Java/Tutorial 3/Coursework/dist/
/Java/Tutorial 4/Coursework/build/
/Java/Tutorial 4/Coursework/dist/
/Java/Tutorial 4/Coursework/nbproject/private/